html{
    scroll-behavior: smooth;
}
body{
	margin:0;
	padding: 10px;
    font-size: 18px;
}

h1{
	font-family: fantasy;
	color:rgb(101, 134, 225);
	font-size: 3em; 
	font-weight: bold;
}
img{
    height: 350px;
    width:auto;
    border: 3px solid blue;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
nav{
	background-color: rgba(57, 252, 255, 0.761);
	padding: 10px 0;    
	text-align: right;   
  }
.nav_links{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: right;
}
nav ul{
	list-style-type: none;
}
  
nav li{
	display: inline;
	padding-right: 50px;
}

h2,h3,h4 {
    padding: 10px;
	font-size: 2em; 
	font-weight: bold;
	font-family:Georgia, 'Times New Roman', Times, serif;
	color:#f36767;
}
p{
	padding: 10px;
}

header, nav, main, h1, footer{
	margin: 10px 0;
	
}

a:hover{
	text-decoration:underline;
	background-color:white;
}
.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position:absolute;
	top:-40px;
}
.skip a:focus{
	position:static;
}
#photos{
	color:white;
	background:#3965df;
	font-size: 1.2em;
}
a:visited{
	color:#0c55c2;}
footer{
	background-color: hsla(188, 81%, 54%, 0.761);
	color:black;
	padding-top: 1px;
	text-align: center;
  }
